@charset "utf-8";

/* 共通部分のCSS */

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  transition: 0.5s;
}

body{
  font-family:Noto+Serif+JP;
  /* background: url(../img/Web\ 1920\ –\ 1.png) no-repeat top center;
  background-size: cover; */
}

.sp,.heading__title_sp{
  display: none;
}

@media screen and (max-width:576px){
  .sp,.heading__title_sp {
  display: block;
  }
  .pc,.heading__title_pc,.heading__text_pc,.header__content{
    display: none;
  }
}

/* header */

header{
  background:url(../img/header-img5.png) no-repeat top center;
  background-size:cover;
  height:auto;
  max-height: 590px;
  overflow: hidden;
}

header .container{
  display: flex;
}

.header__row{
  display: flex;
  justify-content:flex-end;
}

.header__content{
  width:33%;
  padding-top: 36%;
}

.header__content img{
  width: 100%;
}

.header__logo{
  position: relative;
  top:-620px;
  left:30px;
}

/*
ボタンのサイズ*/

@media screen and (max-width:576px){
  header{
    background:url("../img/header_image5_sp.png")
    no-repeat top center;
    background-size:cover;
  }
    h1 img{
      margin:  0 auto;

  }

  .header__logo{
    top:-540px;
    left: 5px;
  }

  .header__logo img{
    width: 60%;
  }
}

/* heading */

.heading{
  background-color: #00374E;
  color:#FFFFFF;
  height:auto;
}

.heading__title_pc{
  text-align: center;
  font-weight: bold;
  padding-top: 36px;
}

.row__heading{
  display: flex;
  justify-content: center;
}

.heading__text_pc{
  padding-top: 40px;
}

.btn img{
  padding-top: 22px;
  padding-bottom: 5%;
  width:90%
}

@media screen and (max-width:576px){

  .heading__title_sp{
    text-align: center;
    font-weight: bold;
    padding-top: 36px;
    font-size: 24px;
  }

  .heading__content img{
    width: 90%;
  }
}

/* about */

.about__row {
  display: flex;
  justify-content: center;
  padding-top: 89px;
  text-align: center;
}

.about__title{
  font-weight: bold;
  padding-bottom: 31px;
}

.about__text{
  display: inline-block;
  text-align: left;
}

@media screen and (max-width:576px){

  .about__title{
    padding-top: 30px;
  }
}

.about img{
  width: 90%;
}

/* point */

.point{
  background-color: #F6F9FB;
  margin-top: 99px;
  padding-top: 107px;
  padding-bottom: 106px;
}

.point__title{
  font-weight: bold;
  padding-bottom: 71px;
  display: flex;
	align-items: center;
}

.point__title:before, .point__title:after {
	content: "";
	flex-grow: 0.3;
	height: 1px;
	background: #444;
	display: block;
  margin: 0 auto;
}
.point__title:before {
	margin-right: .4em;
}
.point__title:after {
	margin-left: .4em;
}
.point__row__1{
  text-align: center;
}

.point__row__2{
  display: flex;
  justify-content: center;
  margin-top: 106px;
  text-align: center;
}

.point__desc{
  text-align: center;
  font-weight: bold;
}

.point__text{
  text-align: center;
}

@media screen and (max-width:576px){

  .point__row__2{
    margin-top: 0px;
  }

  .point .container img{
    width: 90%;
  }
}

/* agent */
/* ずれてる？ */

.agent{
  padding-bottom: 170px;
}

.agent__title{
  font-weight: bold;
  padding-bottom: 71px;
  padding-top: 72px;
  display: flex;
	align-items: center;
}

.agent__title:before, .agent__title:after {
	content: "";
	flex-grow: 0.3;
	height: 1px;
	background: #444;
	display: block;
  margin: 0 auto;
}

.agent__title:before {
	margin-right: .4em;
}
.agent__title:after {
	margin-left: .4em;
}

.agent__row{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.agent__content{
  border:solid 3px #707070;
  padding-bottom: 17px;
  width: 20vw;
  padding-top: 28px;
  /* margin-left: 1%;
  margin-right: 1%; */
}

.agent__content img{
  width: 100%;
  height: auto;
}

.agent__desc{
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
}

.agent__text{
  text-align: left;
}

@media screen and (max-width:992px){

  .agent__row{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .agent__content{
    border:solid 3px #707070;
    padding-bottom: 17px;
    width: 90%;
    padding-top: 28px;
    margin-bottom: 30px;
  }

  .agent__content img{
    width:90%;
  }
}

/* work */

.work{
  background-color: #F6F9FB;
  padding-bottom: 114px;
}

.work__title{
  font-weight: bold;
  padding-bottom: 71px;
  padding-top: 72px;
  display: flex;
	align-items: center;
}

.work__title:before, .work__title:after {
	content: "";
	flex-grow: 0.3;
	height: 1px;
	background: #444;
	display: block;
  margin: 0 auto;
}

.work__title:before {
	margin-right: .4em;
}
.work__title:after {
	margin-left: .4em;
}

.work__row{
  text-align: center;
}

.work__content img{
  padding-bottom: 53px;
  width: 90%;
}

.work__desc{
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}

.work__text{
  text-align: center;
}

/* voice */

.voice{
  padding-bottom: 54px;
  text-align: center;

}

.voice__title{
  font-weight: bold;
  padding-bottom: 58px;
  padding-top: 73px;
  display: flex;
  align-items: center;
}

.voice__title:before, .voice__title:after {
	content: "";
	flex-grow: 0.3;
	height: 1px;
	background: #444;
	display: block;
  margin: 0 auto;
}

.voice__title:before {
	margin-right: .4em;
}
.voice__title:after {
	margin-left: .4em;
}

.voice__area{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voice__row{
  border:solid 3px #707070;
  width: 70vw;
  padding-top: 53px;
  padding-bottom: 21px;
  margin-bottom: 29px;
}

.voice__content_1{
  text-align: center;
}

.voice__content_1 img{
  width: 90%;
}

.voice__detail{
  margin-top: 19px;
  font-weight: bold;
}

.voice__subtitle{
  font-weight: bold;
  font-size: 52px;
}

.voice__content_2 img{
  margin-top: 22px;
  margin-bottom: 27px;
  width: 90%;
}

.voice__txt{
  text-align: left;
}

@media screen and (max-width:576px){

  .voice__are img{
    width: 90vw;
  }


}

/* flow */

.flow{
  background-color: #F6F9FB;
  padding-bottom: 93px;
}

.flow__title{
  font-weight: bold;
  padding-bottom: 26px;
  padding-top: 34px;
  display: flex;
  align-items: center;
}

.flow__title:before, .flow__title:after {
	content: "";
	flex-grow: 0.3;
	height: 1px;
	background: #444;
	display: block;
  margin: 0 auto;
}

.flow__title:before {
	margin-right: .4em;
}
.flow__title:after {
	margin-left: .4em;
}

.flow__row{
  text-align: center;
}

.flow__row img{
  width:90%;
}

.flow__subtitle{
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.flow__text{
  text-align: left;
  font-size: 15px;
}

@media screen and (max-width:576px){

  .flow__text{
    text-align: center;
    font-size: 15px;
  }
}

/* footer */

footer{
  background: linear-gradient(#007ECC, #9BD8FF);
  height:35vh;
}

.footer__btn{
  text-align: center;
  padding-top: 72px;
  /* padding-bottom: 103px; */
}

.footer__btn img{
width:70vw;
}
@media screen and (max-width:576px){

  footer{
    height:22vh;
  }

}




